body {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.menu {
  position: relative;
  height: 800px;
  max-width: 1700px;
  min-width: 800px;
  margin: auto;
  padding: 60px 60px;
  background: url(https://i.pinimg.com/originals/6c/04/c6/6c04c6b013470efcb9474cf8e8f0456e.jpg) no-repeat   center center #505050;   
  background-size: cover;
  background-color: #505050;
  box-shadow: 0px 30px 60px -5px #000;
  align-content: center;
}

.title{
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #cccccc;
  border-bottom: none;
  font-family: 'Montserrat', sans-serif;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #505050;
  color: #ccc;
;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 60px 60px;
  border: 1px solid #ccc;
  background-color: #505050;
  border-top: none;
  transition: 0.3s;
  height: 555px;
}

.tablinks {
  font-weight: bold;
  font-size: larger;
}

.tableFixHead {
  overflow: auto;
  max-width: 1600px;
  min-width: 600px;
  max-height: 600px;
  margin: 0 auto;
}

.tableFixHead thead th {
  position: sticky;
  top: 0; z-index: 1;
}

.submitForm{
  margin: 0 auto;
  width: 40%;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  padding: 8px 16px;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

th{
  background: black;
}

tr:nth-child(even) {
  background-color: #3b3b3b;
}

input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}

.text {
  color: #ccc;
  margin: 0 auto;
  border: none;
  width: 93%;
  padding: 10px 20px;
  display: block;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  margin-top: 15px;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}

.signin {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border-style: solid;
  border-width: .2px;
  text-transform: uppercase;
}

.signin:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 35px -5px #9e9e9e;
  cursor: pointer;
}

span,
label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.signin:focus {
  outline: none;
}

span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4; 
  display: inline-block;
  position: relative;
  top: -65px;
  transition: all 0.5s ease-in-out;
}

hr{
  top: 150px;
  position: relative;
}